#map {
  height: 400px;
  border: 1px solid #001f62;
}

body {
  background-color: #c7d8fe;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #001f62;
  margin-top: 30px;
}
a {
  color: #004fff;
}
a:hover {
  color: #c5ad2a;
}
.table > tbody > tr > td {
  vertical-align: middle;
}
.slider.slider-horizontal {
  width: 100%;
}
@media (max-width: 1199px) {
  .container {
    width: auto;
  }
}
.alert {
  border-width: 2px;
  background-color: transparent;
  font-weight: bold;
  margin: 20px 0;
}
.alert.alert-success {
  border-color: #00aa00;
}
.alert.alert-danger {
  border-color: #c83838;
}
.content > .container {
  -webkit-box-shadow: 0px 0px 20px 20px #ffffff;
  -moz-box-shadow: 0px 0px 20px 20px #ffffff;
  box-shadow: 0px 0px 20px 20px #ffffff;
  background-color: #ffffff;
  padding-bottom: 20px;
}
footer {
  background-color: black;
  color: #ffffff;
  position: relative;
}
footer > .container {
  padding-top: 20px;
  padding-bottom: 20px;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  display: table;
}
.container {
  height: auto;
}
footer {
  display: table-row;
  height: 1px;
}
.head {
  background-color: #001f62;
  position: relative;
  border-bottom: 1px solid black;
}
.head > .container {
  box-shadow: none;
  background-color: #001f62;
}
.head > .container img.logo-img {
  margin: 10px;
}
.head > .container .logo {
  color: white;
  font-size: 28px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 4px;
}
.head > .container ul.nav {
  position: relative;
}
.head > .container ul.nav > li {
  top: 5px;
}
.head > .container ul.nav > li > a {
  font-weight: bold;
  color: white;
  top: -6px;
  text-transform: uppercase;
}
.head > .container ul.nav > li > a:hover,
.head > .container ul.nav > li > a:focus {
  background-color: unset;
  border-bottom: 6px solid white;
}
.head > .container ul.nav > li.active a {
  color: #fdda17;
  border-bottom: 6px solid #fdda17;
}
.head > .container ul.nav > li.active a:hover,
.head > .container ul.nav > li.active a:focus {
  border-bottom: 6px solid white;
}
.head > .container ul.nav > li + li {
  margin-left: 12px;
}
.head > .container ul.nav > li.open > a {
  background-color: unset;
  border-bottom: 6px solid white;
}
.head > .container ul.nav ul.dropdown-menu {
  margin-top: -7px;
  margin-left: -1px;
  padding: 0;
  padding-top: 3px;
  background-color: #001f62;
}
.head > .container ul.nav ul.dropdown-menu > li {
  padding: 3px 0;
}
.head > .container ul.nav ul.dropdown-menu > li > a {
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  border: 0;
  margin-left: 4px;
  text-transform: uppercase;
}
.head > .container ul.nav ul.dropdown-menu > li > a:hover,
.head > .container ul.nav ul.dropdown-menu > li > a:focus {
  border: 0;
  border-left: 4px solid white;
  margin-left: 0;
  background-color: unset;
}
.head > .container ul.nav ul.dropdown-menu > li.active a {
  color: #fdda17;
  background-color: #001f62;
  border: 0;
  border-left: 4px solid #fdda17;
  margin-left: 0;
}
.head > .container ul.nav ul.dropdown-menu > li.active a:hover,
.head > .container ul.nav ul.dropdown-menu > li.active a:focus {
  border-bottom: 0;
  border-left: 4px solid white;
}
@media (max-width: 767px) {
  .head > .container {
    padding: 0;
  }
  .head > .container img.logo-img {
    margin: 7px 0 0 8px;
  }
  .head > .container .logo {
    float: left;
    margin-top: 7px;
  }
  .head > .container button.navbar-toggle {
    float: right;
    margin: 0;
    background-color: #c7d8fe;
    padding: 10px;
    height: 54px;
    border-radius: 0;
    width: 54px;
  }
  .head > .container button.navbar-toggle span.icon-bar {
    width: 30px;
    border-radius: 1px;
    color: black;
    padding-left: 2px;
    background-color: black;
  }
  .head > .container button.navbar-toggle span.icon-bar + .icon-bar {
    margin-top: 7px;
  }
  .head > .container ul.nav {
    margin: 0;
    padding: 0;
    border-top: 1px solid #c7d8fe;
  }
  .head > .container ul.nav > li {
    top: 0;
  }
  .head > .container ul.nav > li > a {
    top: 0;
    margin-left: 0;
    border-top: 1px solid #c7d8fe;
  }
  .head > .container ul.nav > li > a:hover,
  .head > .container ul.nav > li > a:focus {
    border-bottom: 0;
  }
  .head > .container ul.nav > li.active a {
    border-bottom: 0;
    background-color: #00329f;
  }
  .head > .container ul.nav > li.active a:hover,
  .head > .container ul.nav > li.active a:focus {
    border-bottom: 0;
  }
  .head > .container ul.nav > li + li {
    margin-left: 0;
  }
  .head > .container ul.nav > li.open > a {
    border-bottom: 0;
  }
  .head > .container ul.nav ul.dropdown-menu {
    margin: 0;
    padding: 0;
  }
  .head > .container ul.nav ul.dropdown-menu > li {
    padding: 0;
  }
  .head > .container ul.nav ul.dropdown-menu > li > a {
    margin-left: 0;
    background-color: unset;
  }
  .head > .container ul.nav ul.dropdown-menu > li > a:hover,
  .head > .container ul.nav ul.dropdown-menu > li > a:focus {
    border-left: 0;
    background-color: unset;
  }
  .head > .container ul.nav ul.dropdown-menu > li.active a {
    border-left: 0;
    background-color: unset;
  }
  .head > .container ul.nav ul.dropdown-menu > li.active a:hover,
  .head > .container ul.nav ul.dropdown-menu > li.active a:focus {
    border-left: 0;
    background-color: unset;
  }
}
.menu-bar {
  float: right;
  position: relative;
  top: 49px;
}
.menu-bar a:hover .button.log-out {
  background-color: white;
}
.menu-bar .button {
  width: 50px;
  height: 50px;
  background-color: #c7d8fe;
  position: relative;
  float: left;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.menu-bar .button .glyphicon {
  color: #001f62;
}
.menu-bar .button.user {
  padding: 2px 5px 2px 5px;
  width: auto;
}

.menu-bar .button.user .glyphicon-user {
  float: left;
  position: relative;
  top: 13px;
  left: 3px;
  font-size: 20px;
}
.menu-bar .button.user .user-name {
  margin: 4px 6px 0 30px;
  text-align: right;
  font-weight: bold;
}
.menu-bar .button.user .user-name a{
  color: #001f62;
  text-decoration: none;
}
.menu-bar .button.user .user-name a:hover{
  color: #204d74;
}

.menu-bar .button.log-out {
  text-align: center;
  margin-left: 2px;
}
.menu-bar .button.log-out span {
  top: 14px;
  font-size: 22px;
}
@media (max-width: 767px) {
  .menu-bar {
    float: right;
    position: static;
    top: 0;
  }
  .menu-bar .button {
    height: 54px;
    border-radius: 0;
  }
  .menu-bar .button.log-out {
    margin-right: 2px;
  }
}
table.table {
  border-bottom: 1px solid #165fff;
  border-color: #165fff;
}
table.table > tbody > tr > td,
table.table > thead > tr > th {
  border-color: #165fff;
}
div.bootstrap-table {
  margin-top: 30px;
}
.detail + .detail {
  margin: 30px 0px;
  border-top: 1px dotted #001f62;
}
.detail td + td {
  font-weight: bold;
}

.floating-box {
  font-size: 15px;
  display: inline-block;
  padding: 5px;
  margin: 3px;
  text-align: center;
  border: 1px solid #001F62;
  border-radius: 10px;
}

.floating-box:hover {
  border: 3px solid #001F62;
}

